.App {
  font-family: sans-serif;
  text-align: center;
}

.loading {
  border: 2px solid black;
  height: 30px;
  width: 600px;
  border-color: black;
  margin: 0 auto;
}

.loading div {
  background-color: black;
  height: 90%;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
}
